/* layout_sample.css */

.wrap {width: 960px; height: auto; padding: 1rem; background-color: #ccc; margin: auto;}

.layout_01 {width: 700px; height: auto; float: right; background-color: #ffa;}
.layout_01 > dl {width: 100%; height: auto; padding-left: 3rem; box-sizing: border-box;
  margin-bottom: 2rem; padding: 0 0.5rem; padding-left: 6rem;
  border-bottom: 1px dashed #333;
  background-image: url("../../img/background_test/home.png");
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: auto 80%;}

.layout_01 > dl > dt {width: auto; height: auto; padding: 0 0.5rem; background-color: #0af;
  margin-bottom: 1rem; font-size: 1.1rem; font-weight: bold; text-transform: uppercase;}
.layout_01 > dl > dd {width: auto; height: auto; padding: 0 0.5rem; background-color: #fa8;}